
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$bg-transparente:transparent !default;
$white: #fff !default;
$grey-333:#333 !default;
$yellow-1100: #FCCB00 !default;
$yellow-1000:#fed136 !default;
$yellow-900:#fcc620 !default;
$blue-1000:#00599b !default;
$blue-materialize:#2196F3 !default;
$greencoope:#269850 !default;
$green-1000:#1FA050 !default;
$danger:#d50000 !default;
$fuscia:#E91E63 !default;

$coope-blue: #164887 !default;
$coope-green1:#4DAF47 !default;
$coope-green2:#027C47 !default;
$coope-yellow:#FCCB00 !default;
$encabezado:#1a846b !default;

$micoope-green1:#1E9F4C !default;
$micoope-green2:#1FA050 !default;

$dismiss:#2ecc71 !default;
$green1:#129C46 !default;
$green2:#21a97e !default;

$corblue:#164887 !default;
$grey-darken:#23475f !default;
$darken-blue-1000:#0f2230 !default;
$darken-blue-900: #254054 !default;

$tomato:#ff6347 !default;
$black:#000 !default;

//elements
$class-i: i !default;

$opacity: 0.1 !default;

$ment:#00c084 !default;
$ment-1:#01df72 !default;

$color_azul:#00254c !default;
$color_azul2: #003269 !default;