
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");

// Variables
@import "variables";
@import "sweet-alert";

.center{
  justify-content: center;
  text-align: center;
}

.card-home,.card-form-header{
  background: #00853f;
  //background: linear-gradient(60deg, $darken-blue-900, #309568, $darken-blue-900);
}

.card-boder-header{
  border-width: 1px !important;
  border-color:#4caf50 !important;
}

.nav{
  background-color:#164887;
}

.navbar--title,.navbar--title span{
  font-weight: 500;
  letter-spacing: 0.02em;
  white-space:nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-decoration: none;
}

//txt-blue-link
.txt-blue-card{
  color:#0073b9;
}
.green--text2{
  color:#009844 !important;
}
.blue--text2{
  color: #0d2e4c !important;
}
.green-2{
  background-color:#009844 !important;
}

.blue-darken-2{
  //background-color: #0d2e4c !important;
  background-color: #00416b !important;
}

.blue-darken-1{
  background-color: #0052cc !important;
}

.cyan-darken-3{
  background-color: #006580 !important;

}
.cyan-lighten-5{
  //background-color: #dee7ec !important;
  background-color: #dce6ee !important;
}

.diagradient{
  background: #018647;
  background: -moz-linear-gradient(left, #018647 0%, #008570 50%, #008685 100%);
  background: -webkit-linear-gradient(left, #018647 0%, #008570 50%, #008685 100%);
  background: linear-gradient(to right, #018647 0%, #008570 50%, #008685 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#018647', endColorstr='#008685', GradientType=1);
}


.navbar--title{
  font-size: 23px;
  color: #00853f;
  font-weight: bold;
  span{
    //color: #00c084;
    color: white;
    font-size: 20px;
  }
}

[class*='swal2-']{
  font-family: 'Roboto', sans-serif;
}

//fieldset
fieldset {
  border:1px solid #00171f;
  min-height: 260px;
}

.legend--case-file{
  padding: 0.1em 0.5em;
  color: white;
  background: $green1;
  text-align:left;

}
label {
  color: #333 !important;
}

.aplication-footer{
  background: $ment-1 !important;
}

.swal2-popup .swal2-title{
  font-size: 1.4em;
}
.swal2-popup .swal2-styled:focus{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/**
* LOCK ICON
 */
.thumbur {
  padding:2px 0 4px 0;
  width: 42px;
  height: 42px;
  position: relative;
  background-color: #a4a4a4;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEFEFEF', endColorstr='#FFE1E1E1');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: linear-gradient(to right, $yellow-1000 0%, $yellow-1000 60%, $yellow-1000 40%, $yellow-1000 100%);
  margin: auto;
  border-radius: 100%;
}
.thumbur:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 6px;
  background-color: #FAFAFA;
  left: 50%;
  bottom: 16px;
  z-index: 5;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.icon-lock {
  position: relative;
  width: 26px;
  height: 19px;
  background: $ment;
  margin: auto;
  bottom:46px;
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  border-radius: 4px;
  box-shadow: 0 0 2px $yellow-900 inset;
}
.icon-lock:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 14px;
  border: 4px solid $ment;
  border-bottom: none;
  bottom: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.icon-lock:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #efefef;
  left: 50%;
  top: 9px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 100%;
}

h3.titulo{
  text-transform: uppercase;
  color: $white;
  margin: 1rem 0 0 0;
}

.card-login{
  background: linear-gradient(60deg, $darken-blue-1000, $darken-blue-900);
}

//borde sobre los card
.bt-box-card{
  border-top: 4px solid #232f3e;
}
.bt-box-card-yellow{
  border-top: 4px solid yellow;
}
.bt-box-card-green{
  border-top: 4px solid #01c84b;
}
.bt-box-card-black{
  border-top: 4px solid #000;
}



//scrollbar
#style-3::-webkit-scrollbar-track
{
  border-radius: 10px;
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px #b8c0c8;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: rgba(0,133,63,.5);
}





.center{
  text-align: center;
}

/**
login
 */
.login{
  background-color: $color_azul !important;
}
.navbar_default {
  background-color: $color_azul2 !important;
}

.navbar_button{
  background-color: transparent !important;
  &:hover{

  }
}

.button_login{
  background: $ment-1 !important;
}


/**
v-select
 */

.v-menu__content .menuable__content__active{
  padding-top: 40px !important;
}


.gallery {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important  ;
}
.gallery .item__{
  display: -webkit-flex!important;
  display: flex!important;
}