*{
    font-family: 'Roboto', sans-serif;
}

h3{
    color:white;
    margin-top: 60px
}

thead .encabezado{
    background: #d8d8d8;
}
/*.table>thead>tr>th{
    padding:3px;

}
.table>tbody>tr>td{
    padding: 0;
    text-align: center;
    margin: 0;
}*/

table {
    width: 100%;
    background: white;
    margin-bottom: 1.25em;
    border: solid 1px #dddddd;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr th,
table tr td {
    font-size: 0.65em;
    /*font-size: 0.775em;*/
    color: #222222;
    border: 1px solid #dddddd;
    padding: 0;
    text-align: center;
    margin: 0;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
    background: #f9f9f9;
}

.pull-left {
    float: left!important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.v-btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    align-items: center;
    border-radius: 2px;
    display: inline-flex;
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    justify-content: center;
    margin: 6px 8px;
    padding: 6px 8px;
    min-width: 88px;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s cubic-bezier(.25,.8,.5,1),color 1ms;
    user-select: none;
    vertical-align: middle;
}
.primary {
    background-color: #1976d2 !important;
    border-color: #1976d2 !important;
    color:#fff !important;
}
.v-btn__content {
    align-items: center;
    border-radius: inherit;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    white-space: nowrap;
    width: inherit;
}
/*http://w3.unpocodetodo.info/css3/adaptativas.php*/

.text-right{
    text-align:right!important;
}